<section>
  <div class="icons_row">
    <div class="flex_container">
      <div class="icon_container">
        <button mat-fab class="icon_btn" aria-label="Example icon button with a delete icon">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>
      <div class="icon_container">
        <button mat-fab class="icon_btn" aria-label="Example icon button with a bookmark icon">
          <mat-icon>school</mat-icon>
        </button>
      </div>
      <div class="icon_container">
        <button mat-fab class="icon_btn" aria-label="Example icon button with a home icon">
          <mat-icon>mail</mat-icon>
        </button>
      </div>
      <div class="icon_container">
        <button mat-fab class="icon_btn" aria-label="Example icon button with a heart icon">
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>