section {
  display: flex;
  position: relative;
  top: -30px;
}

.icons_row {
  margin: 0 auto;
  width: 490px;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon_container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.icon_btn{
  background-color: gray;
  color:aliceblue;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}