<section>
  <div class="form_bg">
    <div class="form_container">
      <div class="form">
        <div class="title_container">
          <h3>Contact Me</h3>
        </div>
        <div class="content_container">
          <form>
            <div class="column">
              <h4>Feel free to contact me</h4>
              <mat-form-field appearance="fill">
                <mat-icon matPrefix>account_circle</mat-icon>
                <input matInput type="text" name="name" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-icon matPrefix>description</mat-icon>
                <input matInput type="text" name="subject" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-icon matPrefix>mail</mat-icon>
                <input matInput type="email" name="email" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Your Message</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
              <button>Send</button>
            </div>
          </form>
          <div class="column">
            <div>
              <h4>Address</h4>
              <p>140, City Center, New York, U.S.A</p>
            </div>
            <div>
              <h4>Phone</h4>
              <p>+1718-111-0011</p>
            </div>
            <div>
              <h4>Email</h4>
              <p>anthony@company.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
