.nav_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.list_item {
  color:aliceblue;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  padding: 0 42px 0 0;
}