<div class="w3-bar w3-grey w3-card w3-left-align w3-large">
  <ul class="nav_list">
    <li><a href="#" class="list_item">CREATE CV</a></li>
    <li style="margin-left: auto"><a href="#" class="list_item">Home</a></li>
    <li><a href="#" class="list_item">ABOUT</a></li>
    <li><a href="#" class="list_item">SKILLS</a></li>
    <li><a href="#" class="list_item">PORFOLIO</a></li>
    <li><a href="#" class="list_item">EXPERIENCE</a></li>
    <li><a href="#" class="list_item">CONTACT</a></li>
  </ul>
</div>
