<header class="w3-container w3-grey w3-center" style="padding:48px 16px 96px 16px">
  <div class="avatar_container"></div>
  <div class="name_container">
    <h1 class="name_typo">Anthony Barnett</h1>
  </div>
  <div class="title_container">
    <h2 class="title_typo">WEB DEVELOPER, GRAPHIC DESIGNER, PHOTOGRAPHER</h2>
  </div>
  <div class="interact_container">
    <button class="interact_btn">Hire Me</button>
    <button class="interact_btn" style="margin-left: 24px;">Download CV</button>
  </div>
</header>
