<section>
  <div class="title_container">
    <h3>
      Profolio
    </h3>
  </div>
  <div class="tab_container">
    
    <div class="icons_row">
      <div class="flex_container">
        <div class="icon_container">
          <button mat-fab class="icon_selected" aria-label="laptop icon">
            <mat-icon>laptop</mat-icon>
          </button>
        </div>
        <div class="icon_container">
          <button mat-fab class="icon_regular" aria-label="imagesmode icon">
            <mat-icon>image</mat-icon>
          </button>
        </div>
        <div class="icon_container">
          <button mat-fab class="icon_regular" aria-label="photo_camera icon">
            <mat-icon>photo_camera</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div>
        <div style="height: 320px; background-color: orange;"></div>
        <div style="margin-top: 24px; height: 320px; background-color:goldenrod;"></div>
      </div>
      <div>
        <div style="height: 280px; background-color:chocolate;"></div>
        <div style="margin-top: 24px; height: 320px; background-color:coral;"></div>
      </div>
    </div>
  </div>
</section>
