<section>
  <div class="title_container">
    <h3>Professional Skills</h3>
  </div>
  <div class="skills_card">
    <div class="skills_container">
      <div class="skillInfo_container">
        <div class="skill_name">
          HTML
        </div>
        <div class="percent">
          80%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:80%"></div>
          </div>
        </div>
      </div>
      <div class="skillInfo_container">
        <div class="skill_name">
          CSS
        </div>
        <div class="percent">
          75%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:75%"></div>
          </div>
        </div>
      </div>
      <div class="skillInfo_container">
        <div class="skill_name">
          JAVASCRIPT
        </div>
        <div class="percent">
          60%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:60%"></div>
          </div>
        </div>
      </div>
      <div class="skillInfo_container">
        <div class="skill_name">
          SASS
        </div>
        <div class="percent">
          60%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:60%"></div>
          </div>
        </div>
      </div>
      <div class="skillInfo_container">
        <div class="skill_name">
          BOOTSTRAP
        </div>
        <div class="percent">
          75%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:75%"></div>
          </div>
        </div>
      </div>
      <div class="skillInfo_container">
        <div class="skill_name">
          PHOTOSHOP
        </div>
        <div class="percent">
          70%
        </div>
        <div class="bottomItem_container">
          <div class="w3-light-grey">
            <div class="w3-green" style="height:6px; width:70%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
